/* Navbar responsiveness (hamburger vs nonhamburger */
/* Nonhamburger menu */
#header nav a {
    display: block;
}
#header nav a:last-child{
    padding-right: 3.75em !important;
}
#header nav span {
    display: block;
}
#header nav a[href="#menu"] {
    display: none;
}
/* Hamburger menu */
@media screen and (max-width: 480px) {
    #header nav a {
        display: none;
    }
    #header nav span {
        display: none;
    }
    #header nav a[href="#menu"] {
        visibility: visible;
        display: block;
    }
}




/* Education section */
#education .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#education .flex-container div {
    max-width: 400px;
    /* border: 2px solid gray; */
}
