#header nav a {
    display: block;
}
#header nav a:last-child{
    padding-right: 3.75em !important;
}
#header nav span {
    display: block;
}
#header nav a[href="#menu"] {
    display: none;
}

@media screen and (max-width: 480px) {
    #header nav a {
        display: none;
    }
    #header nav span {
        display: none;
    }
    #header nav a[href="#menu"] {
        visibility: visible;
        display: block;
    }
}