/* Education */

#education {
    background-color: _palette(bg-alt);

    > * {
        border-top: solid 1px _palette(border);

        &:first-child {
            border-top: 0;
        }

        @include inner;
    }

    &.alt {
        background-color: transparent;
        border-bottom: solid 1px _palette(border);
    }
}


/* Education section */
#education {
    .container {
        .school {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
    
            .card {
                min-width: 300px;
                max-width: 40%;
                display: block;
                position: relative;
                margin: 20px 0;

                img {
                    width: 100%;
                }
        
                header {
                    display: block;
                    position: absolute;
                    z-index: 3;
                    top: 30%;
                    left: 30%;
                    // transform: translate(-50%, -50%);
                }
            }

            .description {
                max-width: 40%;
                min-width: 250px;
                display: block;

                p {
                    margin: 20px 0px;
                }
            }
        }

    }
}
