doctype html
//
  Forty by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Leon Cheng
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    // Favicon
    link(rel="apple-touch-icon" sizes="180x180" href="assets/favicon_io/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="assets/favicon_io/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="assets/favicon_io/favicon-16x16.png")
    link(rel="manifest" href="assets/favicon_io/site.webmanifest")
    // Global site tag (gtag.js) - Google Analytics
    script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-178477487-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-178477487-1');
  body.is-preload
    block htmlBody
    // Scripts
    //- script(src="assets/js/jquery.min.js")
    //- script(src="assets/js/jquery.scrolly.min.js")
    //- script(src="assets/js/jquery.scrollex.min.js")
    //- script(src="assets/js/browser.min.js")
    //- script(src="assets/js/breakpoints.min.js")
    //- script(src="assets/js/util.js")
    //- script(src="assets/js/main.js")
