extends _base.pug

block htmlBody
    // Wrapper
    div.invisible
      img(src="images/profile/lc-circle.png", alt="invisible image")
    #wrapper
      // Header
      header#header.alt
        a.logo(href="index.html")
          strong Leon Cheng
          span Frontend Developer
        nav
          a.hamburger(href="#menu") Menu
          a.next(href="#banner") top
          span |
          a.next(href="#experience") experience
          span |
          a.next(href="#education") education
          span |
          a.next(href="#contact") contact
      // Menu
      nav#menu
        ul.links
          li
            a.next.scrolly(href="#banner") top
          li
            a.next.scrolly(href="#experience") experience
          li
            a.next.scrolly(href="#education") education
          li
            a.next.scrolly(href="#contact") contact
      // Banner
      section#banner.major
        .inner
            header.major
                h1 Leon Cheng
            .content
                p Frontend developer
            .more 
                p I also have experience in UI design, UX research, and fullstack development.
      // Main
      #main
        // Experiences
        section#experience.tiles
          article
            span.image
              img(src="images/showcase/upstyling.png" alt="")
            header.major
              h3
                a.link(href="landing.html#upstyling-section") Upstyling Nonprofit Website
              p [Project]
          article
            span.image
              img(src="images/showcase/maynooth.png" alt="")
            header.major
              h3
                a.link(href="landing.html#maynooth-section") Maynooth XD Mockup
              p [Project]
          article
            span.image
              img(src="images/showcase/anthony.png" alt="")
            header.major
              h3
                a.link(href="landing.html#anthony-section") Anthony's Website
              p [Project]
          article
            span.image
              img(src="images/pic02.jpg" alt="")
            header.major
              h3
                a.link(href="landing.html#yext-section") Yext
              p [Internship]
          article
            span.image
              img(src="images/showcase/hcie.png" alt="")
            header.major
              h3
                a.link(href="landing.html#hcie-section") HCIE
              p [Research]
          article
            span.image
              img(src="images/showcase/startlabs.png" alt="")
            header.major
              h3
                a.link(href="landing.html#startlabs-section") StartLabs
              p [Club]
          article
            span.image
              img(src="images/pic04.jpg" alt="")
            header.major
              h3
                a.link(href="landing.html#uplift-section") Uplift
              p [Internship]
          article
            span.image
              img(src="images/showcase/adaptyfloaty.png" alt="")
            header.major
              h3
                a.link(href="landing.html#adaptyfloaty-section") Adapty Floaty
              p [Project]
          //
            <article>
            <span class="image">
            <img src="images/pic05.jpg" alt="" />
            </span>
            <header class="major">
            <h3><a href="landing.html" class="link">Painting with Data</a></h3>
            <p>[Research]</p>
            </header>
            </article>
          article
            span.image
              img(src="images/showcase/teachingassistant.png" alt="")
            header.major
              h3
                a.link(href="landing.html#teachingassistant-section") Teaching Assistant
              p [Teaching]
          article
            span.image
              img(src="images/showcase/ceti.jpg" alt="")
            header.major
              h3
                a.link(href="landing.html#ceti-section") CETI
              p [Teaching / Abroad]
          article
            span.image
              img(src="images/pic08.jpg" alt="")
            header.major
              h3
                a.link(href="landing.html#hosta-section") Hosta Labs
              p [Internship]
          article
            span.image
              img(src="images/showcase/glp.png" alt="")
            header.major
              h3
                a.link(href="landing.html#glp-section") Global Leadership Program
              p [Leadership]
          article
            span.image
              img(src="images/pic02.jpg" alt="")
            header.major
              h3
                a.link(href="landing.html#nyl-section") New York Life
              p [Internship]
          //
            <article>
            <span class="image">
            <img src="images/pic09.jpg" alt="" />
            </span>
            <header class="major">
            <h3><a href="landing.html" class="link">Stuyvesant Alumni Mentoring Program</a></h3>
            <p>[Mentorship]</p>
            </header>
            </article>
          article
            span.image
              img(src="images/showcase/stuyhacks.jpg" alt="")
            header.major
              h3
                a.link(href="landing.html#stuyhacks-section") StuyHacks
              p [Hackathon]
        // Education
        section#education
          .inner
            center
              h2 Education
            .container
              .school
                .card
                  img(src="images/pic02.jpg" alt="")
                  header.major
                    h3
                      a.link(href="landing.html") MIT
                    p University
                .description
                  p
                    strong Degree
                    | : Bachelor's in Computer Science
                    br
                    | Expected to pursue a Master's in HCI
                  p
                    strong Courses
                    | : Interconnected Embedded Systems, Advanced Interactive Technologies, System Design, Intelligent Multimodal User Interfaces
              .school
                .card
                  img(src="images/pic06.jpg" alt="")
                  header.major
                    h3
                      a.link(href="landing.html") Stuyvesant
                    p High School
                .description
                  p
                    strong Clubs
                    | : StuyHacks Hackathon, Alumni Association Mentoring Program
                  p
                    strong Other Academics
                    | : Columbia University Science Honors Program, Cooper Union Summer STEM Program, ACE Mentor
      // Contact
      section#contact
        .inner
          section
            h2 Skills
            strong Most Frequent
            br
            | 								Python · React · Java · Figma · Adobe XD
            br
            br
            strong Occassional Use
            br
            | 								Flask · JavaScript · MySQL · MongoDB · HTML ·
            | 								CSS · Sass · Pug · Ubuntu
            br
            br
            strong Limited
            br
            | 								Arduino · C · C++ · Processing 
            br
            br
          section.split
            section
              .contact-method
                span.icon.solid.alt.fa-envelope.customrounded
                h3 Email
                a(href="mailto:leonc@mit.edu") leonc@mit.edu
                br
            section
              ul.icons
                h3 Other Socials
                li
                  a.icon.brands.alt.fa-github.socialicon(href="https://github.com/leoncheng57/")
                    span.label GitHub
                li
                  a.icon.brands.alt.fa-linkedin-in.socialicon(href="https://www.linkedin.com/in/leoncheng57/")
                    span.label LinkedIn
      // Footer
      footer#footer
        .inner
          ul.copyright
            li © 2020, Leon Cheng 
            li
              | Design: 
              a(href="https://html5up.net") HTML5 UP
