doctype html
html
    head
        title L & B
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        // Global site tag (gtag.js) - Google Analytics
        script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-178477487-1")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-178477487-1');
    body
        div
            p hello
        div.flipdown#flipdown