extends _base.pug

block htmlBody
    // Wrapper
    #wrapper
      // Header
      // Note: The "styleN" class below should match that of the banner element.
      header#header.alt.style5
        a.logo(href="index.html")
          strong Leon Cheng
          span fullstack engineer
        //
          <nav>
          <a href="#menu">Menu</a>
          </nav>
      // Banner
      // Note: The "styleN" class below should match that of the header element.
      section#banner.style5
        .inner
          span.image
            img(src="images/pic07.jpg" alt="")
          header.major
            h1 Experiences
          .content
            p
              | A collection of my work, activities, research, etc.
      // Main
      #main
        // Maynooth
        section#maynooth-section.spotlights
          section.leftpanel
            a.image
              img(src="images/showcase/maynooth.png" alt="" data-position="center center")
            .content
              .inner
                header.major
                  h3
                    a(href="https://xd.adobe.com/view/d1fe5f8d-d178-4735-9e0a-f03c95a36486-84ad/")
                      | Maynooth XD Mockup
                p
                  strong UI Designer
                  br
                  | 												2 weeks in Oct 2020 @ 
                  i New York, NY
                p
                  ul
                    li
                      | Designed
                    li 
                      | Mobile: https://xd.adobe.com/view/b0194fa3-7bd1-4b44-8337-0d17a108c5ea-e54a/
                    li 
                      | Desktop: https://xd.adobe.com/view/d1fe5f8d-d178-4735-9e0a-f03c95a36486-84ad/
                    li 
                      | The product of a Udemy Design course, this mockup is made for a theoretical furniture company customer. 
        // Anthony
        section#anthony-section.spotlights
          section.leftpanel
            a.image
              img(src="images/showcase/anthony.png" alt="" data-position="center center")
            .content
              .inner
                header.major
                  h3
                    a(href="https://leoncheng57.github.io/achengs-website/")
                      | Anthony's Personal Website
                p
                  strong Frontend Developer
                  br
                  | 												2 days in Sep 2020 @ 
                  i New York, NY
                p
                  ul
                    li
                      | Built for a friend's personal use. Anthony was losing access to his WordPress-created website and wanted a way to port it over to a different host. I set out to coding it up for fun and completely built up a changeable replica website using Sass and Pug.
                    li
                      | Repo can found on GitHub: 
                      a(href="https://github.com/leoncheng57/achengs-website")
                        | achengs-website
        // Yext
        section#yext-section
          .inner
            header.major
              h2
                a(href="https://www.yext.com/")
                  | Yext
            p
              strong Fullstack Engineer
              br
              | 										Jun 2020 - Aug 2020 @ 
              i New York, NY
            p
              ul
                li
                  | Implemented new features within the company infrastructure, fixed security bugs, and wrote thorough tests in order to improve services such as emails, text messages, admin consoles, and webhooks in the backend, using Java, SQL, Sentry, SendGrid
                li
                  | Actively discovered parts of the code that could be replaced or improved to enable greater performance or better scalability
                li
                  | Responded to urgent requests from customers and communicated cross-platform to devise immediate and effective fixes
                li
                  | Deployed production-level code within a Continuous Integration and Agile workflow with an emphasis on clean, scalable code
        // MIT HCIE
        section#hcie-section.spotlights
          section.leftpanel
            a.image
              img(src="images/showcase/hcie.png" alt="" data-position="center center")
            .content
              .inner
                header.major
                  h3
                    a(href="https://hcie.csail.mit.edu/")
                      | MIT HCIE (Human Computer
                      br
                      |  Interaction Engineering Group)
                p
                  strong Undergraduate Researcher
                  br
                  | 												Jan 2019 - Jun 2020 @ 
                  i Cambridge, MA
                p
                  ul
                    li
                      | Highly improved exposure of research concept by designing a full website to showcase 3D models with intelligently interpolated printing algorithms, built using React, Heroku, JavaScript, Flask
                    li
                      | Devised algorithms to efficiently auto-layout electronic sensors on custom board shapes 2x faster using Python and Rhino
                    li
                      | Assembled a custom-modified coffeemaker to demonstrate proof of concept for a novel 3D pattern-based ID protocol
        // StartLabs
        section#startlabs-section.spotlights
          section.rightpanel
            a.image
              img(src="images/showcase/startlabs.png" alt="" data-position="top center")
            .content
              .inner
                header.major
                  h3
                    a(href="http://startup.mit.edu/")
                      | MIT StartLabs
                p
                  strong Vice President of Web
                  br
                  | 											Jan 2018 - Jun 2020 @ 
                  i Cambridge, MA
                p
                  ul
                    li
                      | Completely reengineered from scratch the online platform for MIT’s main entrepreneurship club at http://startup.mit.edu/
                    li
                      | Built a new website with higher scalability, security, and cleaner code using Flask, FastCGI, and JavaScript
                    li
                      | Collaborated in tandem with club visual designer and managed 5 teammates through skill training and division of responsibilities
                    li
                      | See the current website at 
                      a(href="http://startup.mit.edu/") startup.mit.edu

        // Uplift
        section#uplift-section.spotlights
          .inner
            .inner
              header.major
                h3
                  a(href="https://www.uplift.com/")
                    | Uplift
              p
                strong Fullstack Developer Intern
                br
                | 										Jun 2019 - Aug 2019 @ 
                i Menlo Park, CA
              p
                ul
                  li
                    | Improved employee workflows and reduced customer turnaround time by building a complete data visualizer tool to understand user sessions 80% faster. Built with React and Flask, secured with OAuth, and hosted on AWS. Promoted this tool for use across 4 different company teams by designing and implementing an intuitive and pleasing UI/UX.
                  li
                    | Increased company efficiency by building a searchable, editable, and scalable dictionary for obscure debug events to make understanding errors 30% faster and communication between teams 10% faster, using React
        // adaptyfloaty
        section#adaptyfloaty-section.spotlights
          section.rightpanel
            a.image
              img(src="images/showcase/adaptyfloaty.png" alt="" data-position="top center")
            .content
              .inner
                header.major
                  h3
                    a(href="https://leoncheng57.github.io/Adapty-Floaty/")
                      | Adapty Floaty
                p
                  strong Student
                  br
                  | 											Sep 2018 - Dec 2018 @ 
                  i Cambridge, MA
                p
                  ul
                    li
                      | Took the project course at MIT called 6.810 Engineering Interactive Technologies.
                      | Gained valuable experience and enjoyment in hardware and prototyping.
                    li
                      | An interactive device was defined as something that is able to intelligently and automatically adapt to the human needs of a situation. So our idea was to build a floaty that trains you on how to swim by yourself by floating you more when you start to sink more.
                    li
                      | See more on 
                      a(href="https://leoncheng57.github.io/Adapty-Floaty/") the website
        // teachingassistant
        section#teachingassistant-section.spotlights
          section.leftpanel
            a.image
              img(src="images/showcase/teachingassistant.png" alt="" data-position="top center")
            .content
              .inner
                header.major
                  h2
                    | MIT Teaching Assistant
                p
                  strong Instructor
                  br
                  | 											Jan 2018 - Jun 2019 @ 
                  i Cambridge, MA
                p
                  ul
                    li
                      | [Interconnected Embedded Systems Course] Oversaw 8 labs of 80 students each and graded their understanding on basic servers, state machines, and electronic sensors
                    li
                      | [Computation Structures Course] Sat in 8 labs of 15 students each and guided them on assignments related to CMOS, stacks, memory, caches, and threading
        // ceti
        section#ceti-section.spotlights
          section.rightpanel
            a.image
              img(src="images/showcase/ceti.jpg" alt="" data-position="top center")
            .content
              .inner
                header.major
                  h3
                    a(href="https://leoncheng57.github.io/MYCamp-Web-Dev-Lessons/")
                      | MIT CETI (China Educational
                      br
                      |  Technology Initiative)
                p
                  strong Instructor
                  br
                  | 											Jun 2018 - Aug 2018 @ 
                  i Taiwan and Hong Kong
                p
                  ul
                    li
                      | Created and taught ten 60-90 minute lessons on web development and python programming for 100 students each
                    li
                      | Improved personal communication and patience by interacting with local students and heeding feedback on effective teaching
                    li
                      | See the website used for teaching at 
                      a(href="https://leoncheng57.github.io/MYCamp-Web-Dev-Lessons/") MYCamp Lessons
        // hosta
        section#hosta-section
          .inner
            header.major
              h3
                a(href="https://www.hostalabs.com/")
                  | Hosta Labs
            p
              strong Internship
              br
              | 									Dec 2017 - Jan 2018 @ 
              i Cambridge, MA
            p
              ul
                li
                  | Collaborated on project seeking to utilize smartphones to capture 2D visualizations of a room and then use computer vision and machine learning to rapidly convert data into a fully accurate 3D model which can then be used for home renovations.
                li
                  | Constructed a scalable and secure API and NoSQL database to interact between machine learning and image processing systems.
        // glp
        section#glp-section.spotlights
          section.rightpanel
            a.image
              img(src="images/showcase/glp.png" alt="" data-position="top center")
            .content
              .inner
                header.major
                  h3
                    a(href="https://www.youtube.com/watch?v=-eT_rZoE87s&ab_channel=JunWenLoo")
                      | MIT-SUTD Global Leadership Program
                p
                  strong Student
                  br
                  | 											Jun 2017 - Aug 2017 @ 
                  i Cambridge, MA
                p
                  ul
                    li
                      | Learned how to build a full electric boat using power tools, computer aided design, and other fabrication materials in a team of five students.
                    li
                      | Intensely collaborated with Singaporean students, living with them, learning their culture, and going around the city with them for an entire summer.
                    li
                      | Watch a short video of the summer 
                      a(href="https://www.youtube.com/watch?v=-eT_rZoE87s&ab_channel=JunWenLoo") here
        // nyl
        section#nyl-section
          .inner
            .inner
              header.major
                h3
                  a(href="https://www.newyorklife.com/")
                    | New York Life
              p
                strong Internship
                br
                | 										Jun 2016 - Aug 2016 @ 
                i New York, NY
              p
                ul
                  li
                    | Encouraged creativity by experimentally building an app for emotion analysis and identity recognition, tested for its potential impact on attendance systems or inspiring meeting engagement, using Python, Flask, JavaScript and Microsoft Cognitive Services
        // stuyhacks
        section#stuyhacks-section.spotlights
          section.leftpanel
            a.image
              img(src="images/showcase/stuyhacks.jpg" alt="" data-position="top center")
            .content
              .inner
                header.major
                  h3
                    a(href="https://www.stuyhacks.org/")
                      | StuyHacks Hackathon
                p
                  strong Organizer
                  br
                  | 											Feb 2016 - May 2016 @ 
                  i New York. NY
                p
                  ul
                    li
                      | Recruited 12 companies as sponsors including Digital Ocean, Wolfram, MIT Launch, and Amazon Alexa. Raised funds exceeding $1100 as well as prizes for 4 teams
